body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em; /* em is the percentage increase*/
    text-align: center;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
.myLabels{
    font-size: 3em;
}